 
 .container{ 
    text-align: center;
    margin-top: 23px;
}

table{ 
    margin: auto;
}

input{ 
    font-size: 34px;
    border: 5px solid black;
    border-radius: 21px;

}

button{ 
    font-size: 40px;
    background: rgb(240, 187, 187);
    width: 102px;
    height: 60px;
    border-radius: 20px;
}

.calculator{ 
    background-color: rgb(180, 52, 180);
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
}